################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/neoAI/bin
/neoAI/obj
/neodataEcosystem/.vs
/neodataEcosystem/neodataEcosystem/bin
/neoTools/bin
/neoTools/obj
/neoTransactions/.vs
/neoTransactions/neoTransactions/.vs/neoTransactions
/neoTransactions/neoTransactions/bin/Debug/net7.0
/neoTransactions/neoTransactions/obj
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/EndpointInfo
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/ref/neodataEcosystem.dll
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/refint/neodataEcosystem.dll
/neodataEcosystem/neodataEcosystem/obj/publish/win-x64
/neodataEcosystem/neodataEcosystem/obj/Release/net10.0
/neodataEcosystem/neodataEcosystem/Properties/PublishProfiles/FolderProfile.pubxml.user
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/ApiEndpoints.json
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/apphost.exe
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.AssemblyInfo.cs
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.AssemblyInfoInputs.cache
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.csproj.AssemblyReference.cache
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.csproj.BuildWithSkipAnalyzers
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.csproj.CoreCompileInputs.cache
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.csproj.FileListAbsolute.txt
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.dll
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.MvcApplicationPartsAssemblyInfo.cs
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.pdb
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/neodataEcosystem.sourcelink.json
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/neodataEcosystem/neodataEcosystem/obj/Debug/net10.0/staticwebassets.references.upToDateCheck.txt
