.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px dashed rgba(55, 55, 55, 0.4);
    border-radius: 3px;
    transition: 0.2s;
}

.choose-file-button {
    flex-shrink: 0;
    background-color: rgba(25, 25, 25, 0.04);
    border: 1px solid rgba(100, 100, 100, 0.1);
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
}

.file-message {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:5px;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
